#dashboardBlock {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: var(--mtb-pad-vert);
}

#dashboardBlock * {
  transition: none;
}

#dashboardBlock button {
  background: #676767;
  color: white;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

#dashboardBlock .dbo-btn-build-table {
  padding: 2px 6px;
}

#dashboardBlock .dbo-btn-build-table:hover {
  background: #4282af;
  transform: scale(1.1);
}

#dashboardInfo {
  border: 1px solid #dfe3e6;
  padding: 4px;
}

.dbo-panel {
  position: relative;
  flex: 0 1 48rem;
}

.dbo-head, .dbo-item {
  display: flex;
  border: 1px solid transparent;
}

.dbo-head {
  font-weight: 600;
}

.dbo-head .dbo-cell {
  background: lightgrey;
  color: #444444;
}

.dbo-head .dbo-cell-btn-cont {
  width: 74px;
  text-align: center;
}

.dbo-item:nth-child(even) .dbo-cell {
  background: #f5f5f5;
}

.dbo-item:hover {
  border-color: lightgrey;
}

.dbo-cell {
  padding: 2px 8px;
  margin: 0 2px;
}

.dbo-cell:first-child {
  flex: 0 0 40px;
  text-align: center;
  margin-left: 0;
}

.dbo-cell:last-child {
  margin-right: 0;
}

.dbo-cell-title {
  flex: auto;
}

.dbo-cell-btn-cont {
  flex: 0 0 82px;
  text-align: center;
}
