main {
  overflow: hidden;
}

#mainTableBlock {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: var(--mtb-pad-vert);
}

.buttons-block {
  display: flex;
  width: 48rem;
  margin: 0 auto .25rem;
}

.buttons-block button {
  margin-right: .25rem;
}

.btn-save {
  margin-left: auto;
  background-color: #e9f0f9;
  border: 1px solid #8ea5c5;
  height: 21px;
  border-radius: 2px;
  transition: none;
}

.btn-save:hover {
  background-color: #d9e9f3;
}

.btn-save:focus {
  background-color: #bdd0e2;
  outline: none;
  border: 1px solid #8eadc5;
}

.table-block {
  display: flex;
  margin-bottom: 20px;
}

.table-block td, .table-block td *, .table-block th, .table-block th * {
  transition: none;
}

.side-panel {
  flex: 1 1 1%;
  padding: var(--mtb-pad-hori);
}

#main {
  flex: 1 0 50%;
  padding: 0 .667rem;
}

#mButtons, #mBottom {
  background: lightblue;
  outline: 1px solid lightblue;
}

#mButtons {
  height: 5rem;
  padding: .25rem;
}

#mBottom {
  min-height: 5rem;
  padding: .5rem;
}

p {
  margin: 0 0 .5rem 0;
}

div.bottom {
  margin: 0 auto 2rem;
  width: 720px;
}

.bottom p {
  margin-bottom: 5px;
}
