main {
  overflow: hidden;
}

#mainTableBlock {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: var(--mtb-pad-vert);
}

.buttons-block {
  width: 48rem;
  margin: 0 auto .25rem;
}

.buttons-block button {
  margin-right: .25rem;
}

.table-block {
  display: flex;
  margin-bottom: 20px;
}

.table-block td, .table-block td * {
  transition: none;
}

.side-panel {
  flex: 1 1 1%;
  padding: var(--mtb-pad-hori);
}

#main {
  flex: 1 0 50%;
  padding: 0 .667rem;
}

#mButtons, #mBottom {
  background: lightblue;
  outline: 1px solid lightblue;
}

#mButtons {
  height: 5rem;
  padding: .25rem;
}

#mBottom {
  min-height: 5rem;
  padding: .5rem;
}

p {
  margin: 0 0 .5rem 0;
}

div.bottom {
  margin: 0 auto 2rem;
  width: 720px;
}

.bottom p {
  margin-bottom: 5px;
}
