/**
 * Main table styles
 */
table {
  display: flex;
  flex-direction: column;
  border: 0;
  border-collapse: collapse;
  padding: 0;
}

th, td {
  min-width: calc(2 * var(--wid));
  position: relative;
}

th {
  color: #fff;
  height: 3rem;
  cursor: pointer;
  padding: 0;
  background-color: slategrey;
  border-top: 3px solid slategrey;
  border-bottom: 3px solid slategrey;
}

th:hover {
  background-color: #617a92;
  border-top-color: #617a92;
  border-bottom-color: #617a92;
}

td {
  height: var(--cellHeight);
  line-height: 1.2;
  padding: var(--cellPadVert);
  position: relative;
  text-align: center;
}

td:hover {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f0f2f4;
}

tbody tr:hover { /*tbody tr:not(:last-child):hover*/
  border-bottom-color: #bbc2ca;
}

tbody tr:last-child:hover {
  border-bottom-color: #bbc2ca;
}

/**
 * Styles for table borders
 */
th:last-child {
  border-right: 2px solid slategrey;
}

tbody tr {
  border-bottom: var(--rowBorderBottomWidth) solid transparent;
}

tbody tr:last-child {
  border-bottom-color: #e1e4e6;
}

td:first-child {
  border-left: 1px solid #e1e4e6;
}

td:last-child {
  border-right: 1px solid #e1e4e6;
}

/**
 * Styles for textarea
 */
td textarea, th textarea {
  color: inherit;
  position: absolute;
  left: 0;
  bottom: 6px;
  border: 0;
  outline: 1px solid transparent;
  margin: 0;
  padding: 0 var(--textareaResizerWidth) 0 0;
  height: 15px;
  min-height: 15px;
  max-width: 111px;
  min-width: 111px;
  background: inherit;
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
  z-index: 0;
}

thead th textarea {
  font-weight: 600;
  bottom: 15px;
  letter-spacing: 1px;
}

/**
 * Styles for .resizer-hider
 */
.resizer-hider {
  width: var(--textareaResizerWidth);
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

thead tr:first-child .resizer-hider {
  background-color: inherit;
}

tr:nth-child(odd) .resizer-hider {
  background: #fff;
}

tr:nth-child(even) .resizer-hider {
  background-color: #f0f2f4;
}

/**
 * Styles for .delete-stick
 */
span[role=button].delete-stick {
  width: 12px;
  height: 5px;
  background: #8ca3a7;
  position: absolute;
  top: 0;
  left: 3px;
}

span[role=button].delete-stick:hover {
  cursor: default;
  background: darkred;
}

/**
 * Styles for editing column's name
 */
thead tr .edit-mask {
  height: 2.4rem;
  width: calc(2 * var(--wid));
  position: absolute;
  top: 8px;
  left: 0;
  background-color: transparent;
}

thead tr .edit-button {
  font-size: .8rem;
  font-weight: 600;
  font-style: italic;
  width: 16px;
  height: 12px;
  color: #8ca3a7;
  position: absolute;
  top: -2px;
  left: 20px;
}

thead tr .edit-button:hover {
  cursor: default;
  background-color: #4f5e61;
  color: #fff;
}

thead tr .edit-button.active {
  background-color: #4f5e61;
  color: #fff;
}

/**
 * Styles for .sorting-button
 */
.sorting-cont {
  position: absolute;
  left: 0;
  top: 18px;
  width: 12px;
  height: 24px;
}

span[role=button].sorting-button {
  position: relative;
}

span[role=button].sorting-button::after {
  opacity: .3;
  content: "\025b4";
  position: absolute;
  left: -6px;
  top: -10px;
  font-size: 22px;
}

span[role=button].sorting-button::before {
  opacity: .3;
  content: "\025be";
  position: absolute;
  left: -6px;
  top: 0;
  font-size: 22px;
  z-index: 1;
}
