table {
  display: flex;
  flex-direction: column;
  width: auto;
  border: 0;
  border-collapse: collapse;
  padding: 0;
}

thead {
  outline: 1px solid slategrey;
}

th, td {
  min-width: calc(2 * var(--wid));
}

th {
  color: #fff;
  height: 3rem;
  cursor: pointer;
  padding: 0;
  background-color: slategrey;
  border-top: 3px solid slategrey;
  border-bottom: 3px solid slategrey;
}

th:hover {
  background-color: #617a92;
  border-top-color: #617a92;
  border-bottom-color: #617a92;
}

tbody tr:nth-child(even) {
  border: rgba(112, 128, 144, .15);
  background-color: rgba(112, 128, 144, .15);
}

tbody tr:nth-child(odd) {
  border: rgba(112, 128, 144, .15);
}

tbody tr:hover {
  outline: 1px solid rgba(112, 128, 144, 0.55);
  cursor: default;
}

td {
  line-height: 1.2;
  padding: .2rem 0;
  position: relative;
  text-align: center;
}

td:hover {
  font-weight: bold;
}
