/**
   ========== >>>>> NOTIFICATON STYLES <<<<< ==========
 */
/**
   ===== header error, table notification shared styles =====
 */
.header-error, .notify {
  width: 274px;
  font-size: .8rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  word-break: break-word;
  z-index: 1;
}

.header-error, .notify.error {
  background: #fbeded;
  border-color: brown;
}

.header-error .btn-cross,
.notify.error .btn-cross {
  background: brown;
}

.btn-cross {
  color: white;
  cursor: default;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 1.1;
}

/**
   ===== header error =====
 */
.header-error {
  display: none;
  position: absolute;
  margin-left: -254px;
  padding: 2px 14px 2px 4px;
}

/**
   ===== table notification =====
 */
.notify-wrapper {
  position: absolute;
  background: transparent;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.notify {
  position: relative;
  margin: 0 auto;
  padding: 1rem;
}

.notify.success {
  border-color: green;
  background: #e7f5e7;
}

.notify.success .btn-cross {
  background: green;
}
