/**
   ========== >>>>> TABLE STYLES <<<<< ==========
 */
$table-background-color: slategrey;
$table-background-color-hover: #617a92;
$table-border-color: #e1e4e6;
$table-th-content-color: #8ca3a7;
$table-th-content-color-interaction: #4f5e61;
$table-tr-even-background-color: #f0f2f4;

table {
  display: flex;
  flex-direction: column;
  border: 0;
  border-collapse: collapse;
  padding: 0;
}

th, td {
  min-width: calc(2 * var(--wid));
  position: relative;
}

th {
  color: #fff;
  height: 3rem;
  cursor: pointer;
  padding: 0;
  background-color: $table-background-color;
  border-top: 3px solid $table-background-color;
  border-bottom: 3px solid $table-background-color;
  border-left: 1px solid $table-background-color;
  border-right: 1px solid $table-background-color;

  &:hover {
    background-color: $table-background-color-hover;
    border-top-color: $table-background-color-hover;
    border-bottom-color: $table-background-color-hover;
  }
}

td {
  height: var(--cellHeight);
  line-height: 1.2;
  padding: var(--cellPadVert);
  position: relative;
  text-align: center;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;

  &:hover {
    font-weight: bold;
  }
}

tbody tr {
  border-bottom: var(--rowBorderBottomWidth) solid transparent;

  &:nth-child(even) {
    background-color: $table-tr-even-background-color;
  }
  &:hover { /*tbody tr:not(:last-child):hover*/
    border-bottom-color: #bbc2ca;
  }
  &:last-child:hover {
    border-bottom-color: #bbc2ca;
  }
}

/**
   ===== Styles for table borders =====
 */
tbody tr:last-child {
  border-bottom-color: $table-border-color;
}

td {
  &:first-child {
    border-left-color: $table-border-color;
  }
  &:last-child {
    border-right-color: $table-border-color;
  }
}

/**
   ===== Styles for textarea =====
 */
td textarea, th textarea {
  color: inherit;
  position: absolute;
  left: 0;
  bottom: 6px;
  border: 0;
  outline: 1px solid transparent;
  margin: 0;
  padding: 0 var(--textareaResizerWidth) 0 0;
  height: 17px;
  min-height: 17px;
  max-width: var(--textareaWidth);
  min-width: var(--textareaWidth);
  background: inherit;
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
  z-index: 0;
}

thead th textarea {
  font-weight: 600;
  bottom: 15px;
  letter-spacing: 1px;
}

/**
   ===== Styles for .resizer-hider =====
 */
.resizer-hider {
  width: var(--textareaResizerWidth);
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

thead tr:first-child .resizer-hider {
  background-color: inherit;
}
tr:nth-child(odd) .resizer-hider {
  background: #fff;
}
tr:nth-child(even) .resizer-hider {
  background-color: $table-tr-even-background-color;
}

/**
   ===== Styles for .delete-stick =====
 */
span[role=button].delete-stick {
  width: 12px;
  height: 5px;
  background: $table-th-content-color;
  position: absolute;
  top: 0;
  left: 3px;

  &:hover {
    cursor: default;
    background: darkred;
  }
}

/**
   ===== Styles for .btn-close =====
 */
.table-panel .btn-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  height: 15px;
  z-index: 2;
  background: #8a2323;
  font: 600 1.1rem "Consolas";
  line-height: .7;
  transition: none;

  &::after {
    content: 'x';
    margin-left: 3px;
    color: white;
  }
}

/**
   ===== Styles for editing column's name =====
 */
thead tr .edit-mask {
  height: 2.4rem;
  width: calc(2 * var(--wid));
  position: absolute;
  top: 8px;
  left: 0;
  background-color: transparent;
}

thead tr .edit-button {
  font-size: .8rem;
  font-weight: 600;
  font-style: italic;
  width: 16px;
  height: 10px;
  color: $table-th-content-color;
  position: absolute;
  top: -1px;
  left: 50px;
  line-height: .7;

  &:hover, &:active {
    background-color: $table-th-content-color-interaction;
    color: #fff;
  }
  &:hover {
    cursor: default;
  }
}

/**
   ===== Styles for .sorting-button =====
 */
.sorting-cont {
  position: absolute;
  left: 24px;
  top: -1px;
  width: 20px;
  height: 8px;

  &:hover {
    cursor: default;
    background-color: $table-th-content-color-interaction;
  }
}

span[role=button].sorting-button {
  position: relative;
  display: block;

  &::before, &::after {
    opacity: .3;
    position: absolute;
    font-size: 22px;
    line-height: .4;
  }
  &::before {
    content: "\025b4";
    left: -4px;
  }
  &::after {
    content: "\025be";
    right: -4px;
    z-index: 1;
  }
  &:hover::before, &:hover::after {
    opacity: .9;
  }
}
